.welcome {
  background: url(../images/backgrounds/h_img.jpg);
  background-size: cover;
  color: whitesmoke;
  line-height: 50px;
  margin-top: 0px;
  padding-top: 12%;
  height: 100vh;
  width: 100%;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
#mouse {
  padding: 15px;
  margin-top: 5%;
}
