/*...section 1...*/
body {
  font-family: "Poppins", sans-serif;
}
.welcome {
  background: url(../images/backgrounds/h_img.jpg);
  background-size: cover;
  color: whitesmoke;
  line-height: 50px;
  margin-top: 0px;
  padding-top: 12%;
  height: 100vh;
  width: 100%;
  font-size: larger;
  text-align: center;
}
.welcome h3 {
  padding-top: 24px;
}
#mouse {
  padding: 15px;
  margin-top: 5%;
}
/*...section 2... */
.about {
  background-color: whitesmoke;
  padding: 5%;
  text-align: center;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  font-weight: bold;
  margin-bottom: 20px;
}
.about h2 {
  margin: 5px;
  padding: 20px;
}
.services {
  grid-row-start: 3;
  grid-row-end: 4;
  background: url(/images/backgrounds/s_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 7%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}
.services h2 {
  height: -30%;
  text-decoration: underline;
}
/*...section 3...*/
.toggle {
  text-align: center;
  padding: 3%;
}
.hide {
  display: none;
}
/*...section 4...*/
.card {
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}
.card:hover img {
  transform: scale(1.3);
  transition: all 0.4s ease;
}
.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 5px;
}
.overlay {
  color: rgb(5, 5, 5);
  background-color: rgba(179, 172, 172, 0.8);
  padding: 50px 10px;
  padding-top: 30px;
  border: 2px solid rgb(20, 20, 20);
  font-size: 1.2em;
  line-height: 90%;
  overflow: hidden;
  letter-spacing: 2px;
  font-weight: 100%;
  position: absolute;
  width: 100%;
  min-height: 100%;
  cursor: pointer;
  display: none;
}
.overlay:hover {
  display: none;
  text-align: center;
  transition: all 0.3s ease;
}
/*....section 5*/
.contact {
  background: url(../images/backgrounds/c_image.jpg);
  background-size: cover;
  padding-top: 3%;
  color: white;
}

input[type="text"],
input[type="email"],
#message {
  background-color: transparent;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  width: 100vh;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: white;
}
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
}
#submit:hover {
  background-color: white;
  color: #04aa6d;
}
